@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h4 class="m-5">Priemiro passo para a análise do Atuarial</h4>
    <form method="post" asp-controller="Home" asp-action="CompararListas">
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Link 1 :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control-plaintext" name="linkAtuarial" id="linkAtuarial" placeholder="Insira o link da lista baseada no Atuarial do órgão" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Link 2 :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control-plaintext" name="linkReferencia" id="linkReferencia" placeholder="Insira o link da lista de referência do órgão" required>
            </div>
        </div>
        <div class="m-md-5 row">
            <button type="submit" class="btn btn-outline-dark col-sm-auto m-auto">Comparar listas</button>
        </div>
    </form>
</div>
