@{
    ViewData["Title"] = "Passo a Passo";
}

<h3 class="mb-4">1º PASSO</h3>
<p>Crie uma planilha no google sheets com as colunas: Nome, Cpf e Matricula</p>
<p class ="mb-4">Insira essas informações relacionadas ao Atuarial</p>

<h3 class="mb-4">2º PASSO</h3>
<p>Clique em: Arquivo > Compartilhar > Publicar na Web" </p>
<p>Deixe o selecionado "Documento inteiro" e altere "Página da web" por "Valores separados por tubulação" </p>
<p>Clique em "Publicar" </p>
<p class="mb-4"> Copie o link, vá para a página inicial e cole em "link 1"</p>

<h3 class="mb-4">3º PASSO</h3>
<p>Crie uma planilha no google sheets com as colunas: Nome, Cpf e Matricula</p>
<p class="mb-4">Insira essas informações relacionadas a lista de Referência</p>

<h3 class="mb-4">4º PASSO</h3>
<p>Clique em: Arquivo > Compartilhar > Publicar na Web" </p>
<p>Deixe o selecionado "Documento inteiro" e altere "Página da web" por "Valores separados por tubulação" </p>
<p>Clique em "Publicar" </p>
<p class="mb-4"> Copie o link, vá para a página inicial e cole em "link 2"</p>

<h3 class="mb-4">5º PASSO</h3>
<p>Após inserir os links, clique em "Comparar Listas"</p>

